@model JqueryDataTableProject.Helper.TimeSessionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TimeSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserTimeZoneId" class="control-label"></label>
                <input asp-for="UserTimeZoneId" class="form-control" disabled />
                @* <span asp-validation-for="UserTimeZoneId" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            getUserTimeZoneId();
        });

        function getCookie(cookieName) {
            const name = cookieName + "=";
            const decodedCookie = decodeURIComponent(document.cookie);
            const cookieArray = decodedCookie.split(';');

            for (let i = 0; i < cookieArray.length; i++) {
                let cookie = cookieArray[i].trim();
                if (cookie.indexOf(name) === 0) {
                    return cookie.substring(name.length, cookie.length);
                }
            }
            return null;
        }
        // Example usage:

        function getUserTimeZoneId() {
            const userTimeZoneId = getCookie('userTimeZoneId');
            console.log('User TimeZone ID:', userTimeZoneId);
            document.getElementById('UserTimeZoneId').value = userTimeZoneId;
        }
        
    </script>
}
